.circle1 {
}

.circle2 {
  position: relative;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #6699FF;
  margin: auto;
}

.island1 {
  position: absolute;
  top: 5%;
  left: 8%;
  width: 30%;
  padding-top: 40%;
  border-radius: 70% 30% 70% 30% / 70% 30% 70% 30%;
  background-color: #CCCCCC;
  transform: skewX(-20deg);
  visibility: hidden;
}

.island2 {
  position: absolute;
  top: 55%;
  left: 62%;
  width: 30%;
  padding-top: 40%;
  border-radius: 70% 30% 70% 30% / 70% 30% 70% 30%;
  background-color: #CCCCCC;
  transform: skewX(-20deg);
  visibility: hidden;
}

.island3 {
  position: absolute;
  top: 55%;
  left: 8%;
  width: 30%;
  padding-top: 40%;
  border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
  background-color: #CCCCCC;
  transform: skewX(20deg);
  visibility: hidden;
}

.island4 {
  position: absolute;
  top: 5%;
  left: 62%;
  width: 30%;
  padding-top: 40%;
  border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
  background-color: #CCCCCC;
  transform: skewX(20deg);
  visibility: hidden;
}

#island1_port {
  position: absolute;
  top: 5%;
  left: 8%;
  padding-top: 30%;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
}

#island2_port {
  position: absolute;
  top: 55%;
  left: 62%;
  padding-top: 30%;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
}

#island3_port {
  position: absolute;
  top: 55%;
  left: 8%;
  padding-top: 30%;
  padding-left: 18%;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
}

#island4_port {
  position: absolute;
  top: 5%;
  left: 62%;
  padding-top: 30%;
  padding-left: 18%;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
}

#ship_box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 300px;
}

.ship {
  cursor: move;
  position: absolute;
  z-index: 1000;
  top: 32%;
  left: 46%;
}

.drag {
  z-index: 1001;

}

.message {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.add_ship_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 5px;
  border: 5px solid black;
}

.island_btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  border: 5px solid black;
}

.delete_ship {
  position: fixed;
  bottom: 20%;
  left: 0;
  background-color: red;
}

.btn_msg {
  color: inherit;
  text-decoration: none;
}

.active {
  display: block !important;
}


.island_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}