
.circle1 {
  position: relative;
  width: 900px;
  height: 900px;
  margin: auto;
}

.circle2 {
  border-radius: 50%;
  background-color: #6699FF;
  height: 900px;
}

.island1 {
  position: absolute;
  top: 5%;
  left: 8%;
  width: 30%;
  padding-top: 40%;
  border-radius: 70% 30% 70% 30% / 70% 30% 70% 30%;
  background-color: #CCCCCC;
  transform: skewX(-20deg);
  visibility: hidden;
}

.island2 {
  position: absolute;
  top: 55%;
  left: 62%;
  width: 30%;
  padding-top: 40%;
  border-radius: 70% 30% 70% 30% / 70% 30% 70% 30%;
  background-color: #CCCCCC;
  transform: skewX(-20deg);
  visibility: hidden;
}

.island3 {
  position: absolute;
  top: 55%;
  left: 8%;
  width: 30%;
  padding-top: 40%;
  border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
  background-color: #CCCCCC;
  transform: skewX(20deg);
  visibility: hidden;
}

.island4 {
  position: absolute;
  top: 5%;
  left: 62%;
  width: 30%;
  padding-top: 40%;
  border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
  background-color: #CCCCCC;
  transform: skewX(20deg);
  visibility: hidden;
}

#island1_port {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 300px;
  left: 80px;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
  z-index: 3
}

#island2_port {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 750px;
  left: 500px;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
  z-index: 3
}

#island3_port {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 750px;
  left: 230px;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
  z-index: 3
}

#island4_port {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 300px;
  left: 600px;
  font-size: 16pt;
  font-weight: bold;
  visibility: hidden;
  z-index: 3
}

#island1_dock {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 300px;
  left: 80px;
  background-color: gray;
  visibility: hidden;
  z-index: 2
}

#island2_dock {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 750px;
  left: 500px;
  background-color: gray;
  visibility: hidden;
  z-index: 2
}

#island3_dock {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 750px;
  left: 230px;
  background-color: gray;
  visibility: hidden;
  z-index: 2
}

#island4_dock {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 300px;
  left: 600px;
  background-color: gray;
  visibility: hidden;
  z-index: 2
}

#ship_box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 250px;
  height: 250px;
}

.ship {
  cursor: move;
  position: absolute;
  z-index: 1;
  top: 32%;
  left: 46%;
  width: 170px;
}

.drag {
  z-index: 1001;

}

.title {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.message {
  font-size: 1.8rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  /*
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  */
}

.add_ship_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 5px;
  border: 5px solid black;
  animation: blinkEffect 2s ease infinite;
}

@keyframes blinkEffect {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.confirm {
  position: fixed;
  bottom: 20%;
  right: 0;
  background-color: greenyellow;
}

.delete_ship {
  position: fixed;
  bottom: 20%;
  left: 0;
  width: 400px;
  height: 300px;
  background-color: red;
}

.island_btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  border: 5px solid black;
}


.btn_msg {
  color: inherit;
  text-decoration: none;
}

.active {
  display: block !important;
}


.island_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* 光らせる */
#pika-box {
  transition: background-color 1s;
}

#pika-box.highlight {
  background-color: #FF3333;
  transition-duration: 0s;
}
